/* Estilos para las preguntas */
body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    text-align: center;
}

.question {
    display: none; /* Oculta todas las preguntas por defecto */
    max-width: 800px;
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

.question p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.question label {
    display: block;
    margin-bottom: 10px;
}
