body {
    background-color: #DEDED0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    text-align: center;
}

.question {
    display: none; 
    max-width: 800px;
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;

}

.question p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.question label {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.resultado{
    display: none;
    white-space: pre-line;
    max-width: 800px;
    text-align: justify;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

#retryTest {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#retryTest:hover {
    background-color: #2980b9;
}


