<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container" id="question-container">
        <h2>Test</h2>
        <div class="question">
            <p>Pregunta 1: ¿Sí o No?</p>
            <label><input type="radio" name="q1" value="Si"> Si</label>
            <label><input type="radio" name="q1" value="No"> No</label>
        </div>
        <!-- Repite las preguntas 2 a 20 aquí -->
    </div>

    <script src="../js/script.js"></script>
</body>
</html>